Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.cache
.dir-locals.el
.ignore
RPGTests.code-workspace
clangd_flags
*.json
*.bat
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace